---
---

/* prettier-ignore */
@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

@font-face {
  font-family: "Katuri";
  src: url("/assets/fonts/katuri.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "Waff",
               system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
               Arial, "Noto Sans", "Liberation Sans", sans-serif,
               "Apple Color Emoji", "Segoe UI Emoji" !important;
}

body,
.post-content,
.post-title,
#topbar-title,
h1, h2, h3, h4, h5, h6,
header, footer,
.sidebar, .topbar, .navbar, nav,
.toc, .pagination, .search, .menu,
article, section, main, aside,
p, span, li, blockquote, small, strong, em,
button, input, select, textarea, label,
code, pre, kbd, samp {
  font-family: inherit !important;
}



/* Tiêu đề trang/bài (khác với h1 trong nội dung) */
:where(.post-content, .page, main, article) {
  font-size: 10px !important; 
  line-height: 1.6;
}


:where(.post-content, .page, main, article) h1 { font-size: 35px; line-height: 1.35; }
:where(.post-content, .page, main, article) h2 { font-size: 27px !important; line-height: 1.35; }
:where(.post-content, .page, main, article) h3 { font-size: 22px !important; line-height: 1.35; }
:where(.post-content, .page, main, article) h4 { font-size: 19px !important; line-height: 1.25; }

:where(.post-content, .page, main, article) :where(p) {
  font-size: 13.8px;
  line-height: 1.7;
}

:where(.post-content, .page, main, article) :where(.text-muted) p {
  font-size: 12px !important;
  line-height: 1.7;
}
// the? <b>
// :where(.post-content, .page, main, article) :where(b, strong) {
//   font-size: 16px !important;
//   font-weight: 700;
//   line-height: 1.8;
// }

:where(.post-content, .page, main, article) th { font-size: 15px !important; }

// box code
:where(.post-content, .page, main, article) :where(pre, kbd, samp) {
  font-size: 12.5px !important;
  line-height: 10px;
}

// text trong `...`
:where(.post-content, .page, main, article) :where(code) {
  font-size: 13.3px !important;
  line-height: 10px;
}

// --- Header ---

:where(.post-content, .page, header) p.site-subtitle{
  font-size: 13px !important;
}

:where(.post-content, .page, header) a.site-title{
  font-size: 35px !important;
}
// --------------


:where(.post-content, .page, main, article) :where(.card-title){
    font-size: 25px !important;
    // font-weight: bold;
}


.topbar .site-title,
.topbar .site-title a,
.topbar-title,
.navbar .site-title,
.navbar-brand {
  font-family: "Waff",
               system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
               Arial, "Noto Sans", "Liberation Sans", sans-serif,
               "Apple Color Emoji", "Segoe UI Emoji" !important;
}

/* Mobile */
@media (max-width: 768px) {
    .topbar .site-title,
    .topbar .site-title a,
    .topbar-title,
    .navbar .site-title,
    .navbar-brand {
        font-size: 1rem !important;   /* chỉnh theo ý bạn (1.0–1.4rem) */
        line-height: 1.2;
    }
    :where(.post-content, .page, main, article) :where(.card-title){
        font-size: 21px !important;
        // font-weight: bold;
    }
    :where(.post-content, .page, main, article) :where(.card-text) p{
        font-size: 12px !important;
        // font-weight: bold;
    }
    :where(.post-content, .page, main, article) :where(.post-meta){
        font-size: 11px !important;
        // font-weight: bold;
    }

}

.topbar, .topbar *:not(i):not(svg):not(path) {
  font-family: inherit !important;
}
